input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
}

#nav-top {
  position: fixed;
  top: 0;
  width: 100vw;
}

#nav-bottom {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

#float-r{
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: #888;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  color: #777;
  text-decoration: underline;
}

.google {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*Position element 50% high and 50% sideways */
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#search-box {
  height: 45px;
  margin: 20px;
  width: 500px;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
  padding: 0px 5px;
  position: relative;
}

#search-box input {
  overflow: hidden;
  font-size: 14px;
  border: none;
  width: 450px;
  position: relative;
  top: 7px;
  left: 10px;
}

.g-search button {
  margin: 0 25px;
  padding: 10px 15px;
  background-color: #f2f2f2;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  background: path style="fill:#bdbdbd;" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
}

.g-search button:hover {
  border: 1px solid #3b3b3b;
}

#search-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 18px;
}

#svg-search {
  width: 20px;
  height: 20px;
  position: relative;
  left: 3px;
  top: 10px;
